---
import CodebergIcon from '../components/icons/Codeberg.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import { Image } from "astro:assets";
import qzfrScreenshot1 from "../assets/project-portfolio/qzfr-screenshot-1.png";
import qzfrScreenshot2 from "../assets/project-portfolio/qzfr-screenshot-2.png";
import lcbScreenshot1 from "../assets/project-portfolio/lcb-screenshot-1.png";
import lcbScreenshot2 from "../assets/project-portfolio/lcb-screenshot-2.png";
import QzfrTechnicalOverviewSVG from "../components/project-portfolio/QzfrTechnicalOverview.astro";
import LCBTechnicalOverviewSVG from "../components/project-portfolio/LCBTechnicalOverview.astro";
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
    	<meta name="viewport" content="width=device-width" />
        <title>Ehan A - Portfolio</title>
        <link rel="icon" href="/favicon.ico" sizes="32x32">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="stylesheet" href="/immutable/project-portfolio/css-20251122/ehui.min.css" />
        <link rel="stylesheet" href="/immutable/project-portfolio/themes-20251122/auto-light-dark.min.css" />
        <link rel="preload" href="/immutable/project-portfolio/fonts-20251122/inter.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="/immutable/project-portfolio/fonts-20251122/inter.css"></noscript>
        <style is:global>
            .customgridlist {
                gap: 1rem;
                grid-template-columns: 1fr;
            }
            .box-layout-split-component,
            .flex.box-layout-split-component {
                display: flex;
                flex-wrap: nowrap;
                row-gap: 2rem;
                column-gap: 4rem;
                flex-direction: row;
            }
            .box-layout-split-component .split-side2-col {
                max-width: 40vw;
            }
            @media only screen and (max-width: 1000px) {
                .box-layout-split-component,
                .flex.box-layout-split-component {
                    flex-direction: column;
                }
                .box-layout-split-component .only-h-split {
                    display: none;
                }
                .box-layout-split-component .split-side2-col {
                    max-width: 100%;
                }
            }
            .screenshot {
                border: 0.2rem solid var(--border);
                border-radius: 0.8rem;
                width: 100%;
                height: auto;
            }
            a text {
                transition-duration: 0.2s;
                transition-timing-function: ease-out;
            }
            a:hover text {
                fill: #4551f0;
            }
        </style>
    </head>
    <body>
        <div style="min-height: 70vh;">
    	    <div class="background-extra-bg grid page" style="padding-top:3rem;padding-bottom:1rem;">
                <div class="content">
                    <p class="fg0" style="font-size: 1.8rem;">Ehan Ahamed</p>
                    <p style="font-size: 1.8rem; margin-top: 0.4rem;">Hands-on Project Portfolio</p>
                </div>
            </div>
            <div class="grid page" style="padding-top: 1rem; margin-bottom: 8rem;">
                <div class="content">
                    <div class="grid customgridlist">
                        <div class="box" style="padding: 1.4rem;">
                            <div class="flex box-layout-split-component">
                                <div style="min-width:22rem;">
                                    <div class="flex" style="flex-direction: column; justify-content: space-between; height: 100%;">
                                    <div>
                                    <h3>Quizfreely</h3>
                                    <p>Free & open source nonprofit studying tool</p>
                                    <div>
                                        <p class="fg0" style="margin-bottom: 0px;">Website:</p>
                                        <a href="https://quizfreely.org/"
                                            class="button alt no-box-shadow"
                                            style="margin-top: 0.2rem;"
                                        >quizfreely.org</a>
                                    </div>
                                    <div>
                                        <p class="fg0" style="margin-bottom: 0px;">Source Code:</p>
                                        <div class="flex compact-gap" style="margin-top: 0.2rem;"> 
                                            <a href="https://github.com/quizfreely/quizfreely" class="button faint">
                                                <GitHubIcon></GitHubIcon> GitHub
                                            </a>
                                            <a href="https://codeberg.org/quizfreely/quizfreely" class="button faint">
                                                <CodebergIcon></CodebergIcon> Codeberg
                                            </a>
                                        </div>
                                    </div>
                                            <div class="only-h-split" style="margin-top: 4rem;">
                                                <p>It has official 501(c)(3) non-profit status, fiscally sponsored by The Hack Foundation</p>
                                        </div>
                                    </div>
                                    <div class="only-h-split" style="margin-bottom: 4rem;">
                                            <p>
                                                Complete, fully functional website:
                                                <span class="line"><a href="https://quizfreely.org">https://quizfreely.org</a></span>
                                            </p>
                                    </div>
                                </div>
                                </div>
                                <div class="split-side2-col">
                                    <p>
                                        Quizfreely has digital flashcards, practice tests, and spaced repetition tools for students & teachers to track studying habits and study more efficiently.
                                    </p>
                                    <Image src={qzfrScreenshot1} alt="screenshot" class="screenshot" />
                                    <Image src={qzfrScreenshot2} alt="screenshot" class="screenshot" />
                                </div>
                            </div>
                            <div>
                                <p>
                                    I've worked on this project for 3 years and through it, I have been able to explore the real-world applications and challenges involving distributed systems & computer science.
                                    <span class="optional-line">I originally started this project in December 2022, to serve as a free alternative to for-profit websites used by students & teachers who couldn't take advantage of all the possible features of existing studying tools because they were either paid features that school or individual teachers did not find it worth enough to purchase or were features these platforms didn't have at all. I started this project as a simple, static website with JavaScript to initially offer basic features students and teachers need. I continued to build upon this project and it has become more complex and has even more useful features.</span>
                                </p>
                                <p>The web-app has a frontend written in JavaScript and a backend GraphQL API written in Go/Golang using a PostgreSQL database. I made all of these components myself and made all the source code public & open source so others can build upon and contribute to it.</p>
                                <div style="border-radius:0.8rem;overflow:hidden;background:#ffffff;--select-bg:#d4defa;">
                                    <QzfrTechnicalOverviewSVG style="width:100%;height:100%;"></QzfrTechnicalOverviewSVG>
                                </div>
                            </div>
                        </div>
                        <div class="box" style="padding: 1.4rem; margin-top: 4rem;">
                            <div class="flex box-layout-split-component">
                                <div style="min-width:18rem;">
                                    <h3>La Cipollina Budgeter</h3>
                                            <p>Budget calculator/management software for La Cipollina resturant</p>
                                    <div>
                                        <p class="fg0" style="margin-bottom: 0px;">Source Code:</p>
                                                <a href="https://github.com/ehanahamed/la-cipollina-budgeter" class="button faint" style="margin-top: 0.2rem;">
                                                <GitHubIcon></GitHubIcon> GitHub
                                            </a>
                                </div>
                                </div>
                                <div class="split-side2-col">
                                    <p>
                                        I worked in a group of 3 students to make it easier for a local resturant, La Cipollina, to manage their weekly budget/expenses, payroll, and schedule easily. They used to use pen-and-paper and manually calculate this data weekly because of their unique needs, which we made this project to meet.
                                    </p>
                                    <Image src={lcbScreenshot1} alt="screenshot" class="screenshot" />
                                    <Image src={lcbScreenshot2} alt="screenshot" class="screenshot" />
                                </div>
                            </div>
                            <div>
                                <p>I had the opportinity to teach my classmates how to apply the various concepts they've learned in our AP Computer Science A class into building a web application that would be deployed to a real server and handle real user data. This was also an expirence where I got to apply my own skills to a project that would have to meet the users' unique requirements and have a real impact & responsibility.</p>
                                <p>The frontend of the web-app is a static website with client-side rendering, which we found more fit for this use case. The backend RESTful API was originally written in Java, using an SQL Database. We later rewrote the API in Go/Golang.</p>
                                <div style="border-radius:0.8rem;overflow:hidden;background:#ffffff;--select-bg:#d4defa;">
                                    <LCBTechnicalOverviewSVG style="width:100%;height:100%;"></QzfrTechnicalOverviewSVG>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="https://server.freehold.dev/watchdog/project-portfolio.png" style="display:none;">
    </body>
</html>
