---
import CodebergIcon from '../components/icons/Codeberg.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import { Image } from "astro:assets";
import qzfrScreenshot1 from "../assets/qzfr-screenshot-1.png";
import qzfrScreenshot2 from "../assets/qzfr-screenshot-2.png";
import QzfrTechnicalOverviewSVG from "../components/project-portfolio/QzfrTechnicalOverview.astro";
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
    	<meta name="viewport" content="width=device-width" />
        <title>Ehan A - Portfolio</title>
        <link rel="icon" href="/favicon.ico" sizes="32x32">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="stylesheet" href="/immutable/project-portfolio/css-20251122/ehui.min.css" />
        <link rel="stylesheet" href="/immutable/project-portfolio/themes-20251122/auto-light-dark.min.css" />
        <link rel="preload" href="/immutable/project-portfolio/fonts-20251122/inter.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="/immutable/project-portfolio/fonts-20251122/inter.css"></noscript>
        <style is:global>
            .customgridlist {
                gap: 1rem;
                grid-template-columns: 1fr;
            }
            .box-layout-split-component,
            .flex.box-layout-split-component {
                display: flex;
                flex-wrap: nowrap;
                row-gap: 2rem;
                column-gap: 4rem;
                flex-direction: row;
            }
            .box-layout-split-component .split-side2-col {
                max-width: 40vw;
            }
            @media only screen and (max-width: 1000px) {
                .box-layout-split-component,
                .flex.box-layout-split-component {
                    flex-direction: column;
                }
                .box-layout-split-component .only-h-split {
                    display: none;
                }
                .box-layout-split-component .split-side2-col {
                    max-width: 100%;
                }
            }
            .screenshot {
                border: 0.2rem solid var(--border);
                border-radius: 0.8rem;
                width: 100%;
                height: auto;
            }
        </style>
    </head>
    <body>
        <div style="min-height: 70vh;">
    	    <div class="background-extra-bg grid page" style="padding-top:3rem;padding-bottom:1rem;">
                <div class="content">
                    <p class="fg0" style="font-size: 1.8rem;">Ehan Ahamed</p>
                    <p style="font-size: 1.8rem; margin-top: 0.4rem;">Hands-on Project Portfolio</p>
                </div>
            </div>
            <div class="grid page" style="padding-top: 1rem; margin-bottom: 8rem;">
                <div class="content">
                    <div class="grid customgridlist">
                        <div class="box" style="padding: 1.4rem;">
                            <div class="flex box-layout-split-component">
                                <div style="min-width:22rem;">
                                    <div class="flex" style="flex-direction: column; justify-content: space-between; height: 100%;">
                                    <div>
                                    <h3>Quizfreely</h3>
                                    <p>Free & open source nonprofit studying tool</p>
                                    <div>
                                        <p class="fg0" style="margin-bottom: 0px;">Website:</p>
                                        <a href="https://quizfreely.org/"
                                            class="button alt no-box-shadow"
                                            style="margin-top: 0.2rem;"
                                        >quizfreely.org</a>
                                    </div>
                                    <div>
                                        <p class="fg0" style="margin-bottom: 0px;">Source Code:</p>
                                        <div class="flex compact-gap" style="margin-top: 0.2rem;"> 
                                            <a href="https://github.com/quizfreely/quizfreely" class="button faint">
                                                <GitHubIcon></GitHubIcon> GitHub
                                            </a>
                                            <a href="https://codeberg.org/quizfreely/quizfreely" class="button faint">
                                                <CodebergIcon></CodebergIcon> Codeberg
                                            </a>
                                        </div>
                                    </div>
                                            <div class="only-h-split" style="margin-top: 4rem;">
                                                <p>It's a 501(c)(3) non-profit project, fiscally sponsored by The Hack Foundation</p>
                                        </div>
                                    </div>
                                    <div class="only-h-split" style="margin-bottom: 4rem;">
                                            <p>
                                                Complete, fully functional website:
                                                <span class="line"><a href="https://quizfreely.org">https://quizfreely.org</a></span>
                                            </p>
                                    </div>
                                </div>
                                </div>
                                <div class="split-side2-col">
                                    <p>
                                        Digital flashcards, practice tests, and spaced repetition tools for students & teachers to track studying habits.
                                    </p>
                                    <Image src={qzfrScreenshot1} alt="screenshot" class="screenshot" />
                                    <Image src={qzfrScreenshot2} alt="screenshot" class="screenshot" />
                                </div>
                            </div>
                            <div>
                                <div style="border-radius:0.8rem;overflow:hidden;background:#ffffff;--select-bg:#d4defa;">
                                    <QzfrTechnicalOverviewSVG style="width:100%;height:100%;"></QzfrTechnicalOverviewSVG>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="https://server.freehold.dev/watchdog/project-portfolio.png" style="display:none;">
    </body>
</html>
