---
import CodebergIcon from '../components/icons/Codeberg.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
    <title>Ehan A - Portfolio</title>
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="/immutable/project-portfolio/css-20251122/ehui.min.css" />
    <link rel="stylesheet" href="/immutable/project-portfolio/themes-20251122/auto-light-dark.min.css" />
    <link rel="preload" href="/immutable/project-portfolio/fonts-20251122/inter.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/immutable/project-portfolio/fonts-20251122/inter.css"></noscript>
    <style>
      .customgridlist {
        gap: 1rem;
        grid-template-columns: 1fr;
      }
      .box-layout-split-component {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
      }
      @media only screen and (max-width: 1000px) {
        .box-layout-split-component {
          grid-template-columns: 1fr;
          grid-template-rows: auto auto;
        }
      }
    </style>
  </head>

  <body>
        <div style="min-height: 70vh;">
		    <div class="background-extra-bg grid page" style="padding-top:3rem;padding-bottom:1rem;">
        <div class="content">
            <p class="fg0" style="font-size: 1.8rem;">Ehan Ahamed</p>
            <p style="font-size: 1.8rem; margin-top: 0.4rem;">Hands-on Project Portfolio</p>
        </div>
    </div>
    <!--<div class="wave-bottom extra-bg"></div>-->
    <div class="grid page" style="padding-top: 1rem; margin-bottom: 8rem;">
        <div class="content">
        <div class="grid customgridlist">
          <div class="box">
            <h3>Quizfreely</h3>
            <p>Free & open source nonprofit studying tool</p>
            <div>
              <p class="fg0" style="margin-bottom: 0px;">Website:</p>
              <a href="https://quizfreely.org/"
                class="button alt no-box-shadow"
                style="margin-top: 0.2rem;"
              >quizfreely.org</a>
            </div>
            <div>
              <p class="fg0" style="margin-bottom: 0px;">Source Code:</p>
              <div class="flex compact-gap" style="margin-top: 0.2rem;"> 
                <a href="https://codeberg.org/quizfreely/quizfreely"
                  class="button faint"
                ><CodebergIcon></CodebergIcon> Codeberg</a>
                <a
                  href="https://github.com/quizfreely/quizfreely"
                  class="button faint"
                ><GitHubIcon></GitHubIcon> GitHub</a
                >
              </div>
            </div>
          </div>
          <div class="box">
            <h3>EhUI</h3>
            <p>Customizable and themeable UI kit</p>
            <div>
              <p class="fg0" style="margin-bottom: 0px;">Website:</p>
              <a href="https://ehan.dev/ehui"
                class="button alt no-box-shadow"
                style="margin-top: 0.2rem;"
              >ehan.dev/ehui</a>
            </div>
            <div>
              <p class="fg0" style="margin-bottom: 0px;">Source Code:</p>
              <div class="flex compact-gap" style="margin-top: 0.2rem;"> 
                <a href="https://codeberg.org/ehanahamed/ehui"
                  class="button faint"
                ><CodebergIcon></CodebergIcon> Codeberg</a>
                <a
                  href="https://github.com/ehanahamed/ehui"
                  class="button faint"
                            ><GitHubIcon></GitHubIcon> GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        </div>
        <img src="https://server.freehold.dev/watchdog/project-portfolio.png" style="display:none;">
  </body>
</html>
