:root,
:root.darker {
  color-scheme: dark;
  --red: #ff6666;
  --redAlt: #ff9999;
  --redDark: #cc5252;
  --orange: #ff9966;
  --orangeAlt: #ffbb99;
  --yellow: #ffcc66;
  --yellowAlt: #ffdd99;
  --green: #52cca3;
  --greenAlt: #7accb1;
  --greenDark: #3d997a;
  --blue: #527ACC;
  --blueAlt: #7A96CC;
  --purple: #7a52cc;
  --purpleAlt: #967acc;
  --pink: #cc52a3;
  --pinkAlt: #cc7ab1;
  --primary: #7a52cc;
  --primaryAlt: #967acc;
  --primaryDark: #5c3d99;
  --extra: #52cca3;
  --extraAlt: #7accb1;
  --extraDark: #3d997a;
  --bgExtra: #181820;
  --black: #1e1e28;
  --gray: #3d3d50;
  --grayAlt: #5c5c7a;
  --white: #a3a3b7;
  --fg: #a3a3b7;
  --bg3: #5c5c7a;
  --bg2: #3d3d50;
  --bg1Alt: #282835;
  --bg1: #1e1e28; 
}
