.demoMain {
  padding: 1rem 2rem;
}

pre {
  padding: 0px;
}

pre code {
  display: block;
  overflow-x: auto;
  overflow-y: visible;
  background-color: var(--bg1Alt);
  border: 0.2rem solid var(--bg2);
  border-radius: 0.8rem;
  padding: 1rem;
  transition-duration: 0.4s;
}

pre code,
pre code:active,
pre code:focus,
pre code:hover,
pre code:focus-visible {
  outline: none;
}

pre code:hover {
  border-color: var(--primaryAlt);
}

pre code:focus-visible {
  border-color: var(--primary);
}
