<!DOCTYPE html>
<html lang="en" class="theme-dark">
  <head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
    <title>ehan.dev</title>
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="/immutable/css-20251122/ehui.min.css" />
    <link rel="stylesheet" href="/immutable/themes-20251122/dark.min.css" />
    <link rel="stylesheet" href="/extraCustomStyles.css" />
    <link rel="preload" href="/immutable/fonts-20251122/inter.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/immutable/fonts-20251122/inter.css"></noscript>
  </head>

  <body>
        <div style="min-height: 70vh;">
		    <slot />
        </div>
  </body>
</html>
